<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About Us</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <p>
                    At ByteVerse, we are passionate about empowering individuals with the knowledge and skills to thrive
                    in the exciting field of Information Technology.
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Our mission is to make high-quality IT education accessible
                        to everyone, regardless of their background or location. </li>
                    <li><i class="ri-check-double-line"></i> our vision is to empower individuals worldwide with the
                        knowledge and skills to navigate the ever-evolving landscape of Information Technology. </li>
                    <li><i class="ri-check-double-line"></i> Our team of experienced instructors brings a wealth of
                        knowledge and practical expertise to the table.</li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    Our commitment to your success doesn't end with the completion of your courses. We offer
                    comprehensive career services to help you navigate the job market with confidence. From resume
                    building and interview preparation to job placement assistance, we are dedicated to supporting you
                    in achieving your career goals.
                </p>
                <a href="#" class="btn-learn-more">Learn More</a>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->
